.task-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    transition: all .4s;
}

.task-active {
    background-color: #dbeed3;
}

.task-completed {
    background-color: #dfdfdf;
}

.user-name {
    font-size: 12px;
    color: #777;
}

.task-title {
    position: relative;
    cursor: pointer;
}

.task-completed .task-title {
    text-decoration: line-through;
    color: rgba(33, 37, 41, .4);
}

.actions {
    opacity: 0;
    transition: all .3s;
}

.task-item:hover .actions {
    opacity: 1;
}