.user-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #84bbf1;
    background-color: #e5eaf0;
    border-radius: 6px;
    transition: all .4s;
}

.user-active {
    background-color: #dbeed3;
}

.user-completed {
    background-color: #dfdfdf;
}

.user-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.user-name {
    font-size: 12px;
    color: #777;
}

.user-title {
    position: relative;
    cursor: pointer;
}

.user-completed .user-title {
    text-decoration: line-through;
    color: rgba(33, 37, 41, .4);
}

.actions {
    opacity: 0;
    transition: all .3s;
}

.user-item:hover .actions {
    opacity: 1;
}