.task-item {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    transition: all .4s;
}

.task-active {
    background-color: #dbeed3;
}

.task-completed {
    background-color: #dfdfdf;
}

.task-title {
    position: relative;
}

.task-completed .task-title {
    text-decoration: line-through;
    color: rgba(33, 37, 41, .4);
}