#root {
    width: 100%;
    max-width: 800px;
}

.header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header > * {
    width: auto;
}